body {
    margin: 0;
    background: #ededed;
}

.load-sn-logo {
    font-size: 100px;
    position: relative;
    width: 6.4em;
    height: 6.4em;
    margin: 0 auto;
}

.load-sn-logo .block-l,
.load-sn-logo .block-r {
    position: absolute;
    top: 2.2em;
    width: 2em;
    height: 2em;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-radius: 10%;
    background: #f3b500;
}

.load-sn-logo .block-l {
    left: .2em;
    -webkit-animation: ani-block-l 3s infinite;
    animation: ani-block-l 3s infinite;
}

.load-sn-logo .block-r {
    right: .2em;
    -webkit-animation: ani-block-r 3s infinite;
    animation: ani-block-r 3s infinite;
}

.load-sn-logo .lion-face {
    position: absolute;
    z-index: 10;
    top: 2.95em;
    left: 2.5em;
    width: 1.4em;
    height: 1em;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: ani-lion-face 3s infinite;
    animation: ani-lion-face 3s infinite;
}

.load-sn-logo .lion-eye-l,
.load-sn-logo .lion-eye-r {
    position: absolute;
    top: 0;
    width: .2em;
    height: .2em;
    border-radius: 50%;
    background: #221916;
}

.load-sn-logo .lion-eye-l {
    left: .24em;
}

.load-sn-logo .lion-eye-r {
    right: .24em;
}

.load-sn-logo .lion-nose-w {
    position: absolute;
    top: .1em;
    left: .375em;
    width: .65em;
    height: .65em;
    border-radius: 50%;
    background: #fff;
}

.load-sn-logo .lion-nose-b {
    position: absolute;
    z-index: 20;
    top: .4em;
    left: .425em;
    width: .55em;
    height: .25em;
    border-radius: 10% 10% 50% 50% / 20% 20% 80% 80%;
    background: #221916;
}

.load-sn-logo .lion-mouth {
    position: absolute;
    top: .425em;
    left: .075em;
    width: 1.25em;
    height: .5em;
    border-radius: .25em;
    background: #fff;
}

@-webkit-keyframes ani-block-l {
    0%,
    100% {
        -webkit-transform: translate(0, 0) scale(.1, .1) rotate(0);
        transform: translate(0, 0) scale(.1, .1) rotate(0);
        opacity: .5;
    }

    20% {
        -webkit-transform: translate(1.8em, 0) scale(.55, .55) rotate(-75deg);
        transform: translate(1.8em, 0) scale(.55, .55) rotate(-75deg);
        opacity: .5;
    }

    40% {
        -webkit-transform: translate(0, 0) scale(.9, .9) rotate(-135deg);
        transform: translate(0, 0) scale(.9, .9) rotate(-135deg);
        opacity: .5;
    }

    50% {
        -webkit-transform: translate(2em, 0) scale(.9, .9) rotate(-135deg);
        transform: translate(2em, 0) scale(.9, .9) rotate(-135deg);
        opacity: .5;
    }

    60% {
        -webkit-transform: translate(2em, 0) scale(1, 1) rotate(-135deg);
        transform: translate(2em, 0) scale(1, 1) rotate(-135deg);
        opacity: .8;
    }

    80% {
        -webkit-transform: translate(2em, 0) scale(.9, .9) rotate(-135deg);
        transform: translate(2em, 0) scale(.9, .9) rotate(-135deg);
        opacity: 1;
    }
}

@keyframes ani-block-l {
    0%,
    100% {
        -webkit-transform: translate(0, 0) scale(.1, .1) rotate(0);
        transform: translate(0, 0) scale(.1, .1) rotate(0);
        opacity: .5;
    }

    20% {
        -webkit-transform: translate(1.8em, 0) scale(.55, .55) rotate(-75deg);
        transform: translate(1.8em, 0) scale(.55, .55) rotate(-75deg);
        opacity: .5;
    }

    40% {
        -webkit-transform: translate(0, 0) scale(.9, .9) rotate(-135deg);
        transform: translate(0, 0) scale(.9, .9) rotate(-135deg);
        opacity: .5;
    }

    50% {
        -webkit-transform: translate(2em, 0) scale(.9, .9) rotate(-135deg);
        transform: translate(2em, 0) scale(.9, .9) rotate(-135deg);
        opacity: .5;
    }

    60% {
        -webkit-transform: translate(2em, 0) scale(1, 1) rotate(-135deg);
        transform: translate(2em, 0) scale(1, 1) rotate(-135deg);
        opacity: .8;
    }

    80% {
        -webkit-transform: translate(2em, 0) scale(.9, .9) rotate(-135deg);
        transform: translate(2em, 0) scale(.9, .9) rotate(-135deg);
        opacity: 1;
    }
}

@-webkit-keyframes ani-block-r {
    0%,
    100% {
        -webkit-transform: translate(0, 0) scale(.1, .1) rotate(0);
        transform: translate(0, 0) scale(.1, .1) rotate(0);
        opacity: .5;
    }

    20% {
        -webkit-transform: translate(-1.8em, 0) scale(.55, .55) rotate(-105deg);
        transform: translate(-1.8em, 0) scale(.55, .55) rotate(-105deg);
        opacity: .5;
    }

    40% {
        -webkit-transform: translate(0, 0) scale(.9, .9) rotate(-180deg);
        transform: translate(0, 0) scale(.9, .9) rotate(-180deg);
        opacity: .5;
    }

    50% {
        -webkit-transform: translate(-2em, 0) scale(.9, .9) rotate(-180deg);
        transform: translate(-2em, 0) scale(.9, .9) rotate(-180deg);
        opacity: .5;
    }

    60% {
        -webkit-transform: translate(-2em, 0) scale(1, 1) rotate(-180deg);
        transform: translate(-2em, 0) scale(1, 1) rotate(-180deg);
        opacity: .8;
    }

    80% {
        -webkit-transform: translate(-2em, 0) scale(.9, .9) rotate(-180deg);
        transform: translate(-2em, 0) scale(.9, .9) rotate(-180deg);
        opacity: 1;
    }
}

@keyframes ani-block-r {
    0%,
    100% {
        -webkit-transform: translate(0, 0) scale(.1, .1) rotate(0);
        transform: translate(0, 0) scale(.1, .1) rotate(0);
        opacity: .5;
    }

    20% {
        -webkit-transform: translate(-1.8em, 0) scale(.55, .55) rotate(-105deg);
        transform: translate(-1.8em, 0) scale(.55, .55) rotate(-105deg);
        opacity: .5;
    }

    40% {
        -webkit-transform: translate(0, 0) scale(.9, .9) rotate(-180deg);
        transform: translate(0, 0) scale(.9, .9) rotate(-180deg);
        opacity: .5;
    }

    50% {
        -webkit-transform: translate(-2em, 0) scale(.9, .9) rotate(-180deg);
        transform: translate(-2em, 0) scale(.9, .9) rotate(-180deg);
        opacity: .5;
    }

    60% {
        -webkit-transform: translate(-2em, 0) scale(1, 1) rotate(-180deg);
        transform: translate(-2em, 0) scale(1, 1) rotate(-180deg);
        opacity: .8;
    }

    80% {
        -webkit-transform: translate(-2em, 0) scale(.9, .9) rotate(-180deg);
        transform: translate(-2em, 0) scale(.9, .9) rotate(-180deg);
        opacity: 1;
    }
}

@-webkit-keyframes ani-lion-face {
    0%,
    100% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0;
    }

    60%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes ani-lion-face {
    0%,
    100% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0;
    }

    60%,
    80% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
}
