@import 'base', 'fly', 'spin', 'eye';

body {
    margin: 0;
    background: #ededed;
}

body,
button {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-wrap {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    button {
        font-size: 20px;
        display: inline-block;
        width: 100px;
        margin: 5px;
        padding: 5px;
        cursor: pointer;
        color: #fff;
        border: 0 none;
        outline: 0 none;
        background: #666;
        &:hover {
            background: #333;
        }
    }
}
